<header>
    <div class="navigation">
        <div class="logo">
          <!-- <img src="insta.png" alt=""> -->
          <img src="http://placehold.it/400x100" alt="">
        </div>
        <div class="search">
          <div></div>
          <input type="text" name="" value="" placeholder="Пойск">
        </div>
        <div class="icons">
          <a href="#" class="explore"></a>
          <a href="#"class="activity"></a>
          <a href="#" class="profile"></a>
        </div>
    </div>
</header>