<template>
    <div>
      {{ data.text }}
    </div>
</template>

<script>
    export default {
        name: 'text-block',
        data() {
            return {

            }
        },
        props: ['data'],
        methods: {
        },
    }
</script>

<style scoped="">
</style>